# Common ignores for both Android & Ktor backend

# IDE & Build folders
.idea/
.gradle/
build/
bin/
out/
.kotlin/
captures/
.externalNativeBuild/
.cxx/

# Android specific
*.iml
local.properties
/local.properties
AndroidCLI/

# Ktor Backend specific
*.ipr
*.iws

# Log files and OS caches
*.log
.DS_Store
Thumbs.db

